.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.searchBtnWrapper {
  position: relative;
  z-index: 1;
}

.searchBtn {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 7px;
  background-color: transparent;
  color: #bab8ba;
  cursor: pointer;
  transition: background-color 200ms, border-color 200ms;
}

.searchBtn:hover,
.searchBtn:focus {
  background-color: #3a393a;
}

.searchBtn.active {
  background-color: #3a393a;
  border-color: #474747;
}

.searchText {
  text-transform: uppercase;
  margin-left: 6px;
}
