.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 350px;
  background-color: transparent;
  backdrop-filter: blur(4px);
  border: 1px solid #474747;
  border-radius: 8px;
  z-index: 1;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #474747;
  padding: 8px;
}

.queryInput {
  width: 100%;
  margin-left: 4px;
  background-color: transparent;
  outline: transparent;
  border: none;
  color: #bab8ba;
}

.clearBtnPlaceholder {
  width: 22px;
  flex-shrink: 0;
}

.clearInput {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.coinsWrapper {
  flex: 1;
  overflow-y: auto;
  height: 100%;
  padding: 0 4px;
}

.coinsWrapper::-webkit-scrollbar {
  width: 6px;
}

.coinsWrapper::-webkit-scrollbar-track {
  background: transparent;
}

.coinsWrapper::-webkit-scrollbar-thumb {
  background-color: #141313;
  border-radius: 10px;
  border: 2px solid #141313;
}

.coinsWrapper::-webkit-scrollbar-thumb:hover {
  background-color: #0b0b0b;
  border-color: #0b0b0b;
}

.coin {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 8px;
}

.coin:hover {
  background-color: #474747;
}

.coinTicker {
  margin-left: 6px;
}

.favoritesBtn {
  display: flex;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #bab8ba;
}
